body{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

header{
  background: #0c2461;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1{
  margin: 0;
  font-size: 36px;
}

.container{
margin: 0 auto;
max-width: 1200px;
padding: 20px;
}

.recept-lista{
  list-style: none;
  margin: 0;
  padding: 0;
}

.recept-sak{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
border-radius: 5px;
overflow: hidden;
}

.recept-sak img{
width: 150px;
height: 150px;
object-fit: cover;
}

.recept-sak h2{
  margin: 0;
  font-size: 20px;
  padding: 10px;
  min-width: 200px;
}

.recept-sak p{
margin: 0;
padding: 10px;
font-size: 16px;
color: #777;
}

.recept-sak a{
  background-color: #0c2461;
  color: #fff;
  min-width: 150px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: background 0.3s ease;
}

.recept-sak a:hover{
  background: #1e3799;
}

@media screen and (max-width: 768px){
  .container{
    max-width: 90%;
  }

  .recept-sak {
flex-wrap: wrap;
  }

  .recept-sak img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .recept-sak h2{
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .recept-sak p{
    font-size: 14px;
    margin-bottom: 10px;
  }

  .recept-sak a{
    width: 100%;
    text-align: center;
  }
}